<!DOCTYPE html>
<html>
<head>
    <title>Flask and SQLite </title>
</head>
<body>
<h1>Welcome to finance web app brought to you by SQLITE</h1>
<h2>Insert Operation
    <h2>
        <button class="btn" onclick="window.location.href='{{ url_for('create_user') }}';" type="button">Create User
        </button>
        <br/>
        <button class="btn" onclick="window.location.href='{{ url_for('create_account') }}';" type="button">Create
            Account Type
        </button>
        <br/>
        <button class="btn" onclick="window.location.href='{{ url_for('create_transaction') }}';" type="button">Create
            Transactions
        </button>
        <br/>
        <h2>Query</h2>
        <button class="btn" onclick="window.location.href='{{ url_for('custom_user') }}';" type="button">Filter User
        </button>
        <br/>
        <h2>Query all</h2>
        <button class="btn" onclick="window.location.href='{{ url_for('view_users') }}';" type="button">List of users
        </button>
        <button class="btn" onclick="window.location.href='{{ url_for('update_balance') }}';" type="button">Update and
            view Account
        </button>

</body>
</html>
