<!DOCTYPE html>
<html>
<head>
    <title>User's Financials</title>
    <!-- Add your CSS styling here -->
</head>
<body>
    {% include 'navbar.html' %}

    <div class="container mt-3">
        <h2>API Data</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Description</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody id="api-data-table">
                <!-- Dynamic data will be inserted here -->
            </tbody>
        </table>
    </div>

    <div class="container my-4">
        <!-- Income Table -->
        <h2>Your Income</h2>
        <button onclick="location.href='/add_income'" class="btn btn-primary mb-3">Add Income</button>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Date Purchased</th>
                    <th>Frequency</th>
                    <th>Next Due</th>
                    <th>Total Earned</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for income in incomes %}
                <tr>
                    <td>{{ income[1] }}</td>
                    <td>{{ income[2] }}</td>
                    <td>{{ income[3] }}</td>
                    <td>{{ income[4] }}</td>
                    <td>{{ income[5] }}</td>
                    <td>{{ income[6] }}</td>
                    <td>{{ income[7] }}</td>
                    <td>
                        <form action="/delete_income" method="post">
                            <input type="hidden" name="income_id" value="{{ income[0] }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Expenses Table -->
        <h2>Your Expenses</h2>
        <button onclick="location.href='/add_expense'" class="btn btn-primary mb-3">Add Expense</button>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Type</th>
                    <th>Value</th>
                    <th>Date Purchased</th>
                    <th>Frequency</th>
                    <th>Next Due</th>
                    <th>Total Spent</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for expense in expenses %}
                <tr>
                    <td>{{ expense[1] }}</td>
                    <td>{{ expense[2] }}</td>
                    <td>{{ expense[3] }}</td>
                    <td>{{ expense[4] }}</td>
                    <td>{{ expense[5] }}</td>
                    <td>{{ expense[6] }}</td>
                    <td>{{ expense[7] }}</td>
                    <td>
                        <form action="/delete_expense" method="post">
                            <input type="hidden" name="expense_id" value="{{ expense[0] }}">
                            <button type="submit" class="btn btn-danger btn-sm">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <script>
        fetch("/most_recently_added")
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
            console.log(data);
            populateTable(data);

        })
        .catch((error) => {
          console.error(
            "There has been a problem with your fetch operation:",
            error
          );
        });

        function populateTable(data) {
    const tableBody = document.getElementById('api-data-table');
    data.forEach(item => {
        let row = `<tr>
            <td>${item[0]}</td>
            <td>${item[1]}</td>
            <td>$${item[2]}</td>
            <td>${item[3]}</td>
        </tr>`;
        tableBody.innerHTML += row;
    });
}
    </script>
</body>
</html>
