<!DOCTYPE html>
<html>
    <head>
        <title>Flask and SQLite </title>
    </head>
    <body>
        <form method="POST">
            <label>Enter User ID:</label>
            <input type="number" name="userid" placeholder="Enter User_ID" required><br/>
            <label>Enter Account Type:</label>
            <input type="text" name="accountType" placeholder="Savings, Checking, Credit Card, etc"required><br/>
            <label>Enter Balance:</label>
            <input type="number" name="balance" placeholder="Enter Balance" step="0.01"  required><br/>
            <input type = "submit" value = "submit"/><br/>
        </form>
    </body>
</html>
