<!DOCTYPE html>
<html>
    <head>
        <title>Flask and SQLite </title>
    </head>
    <body>
        <form method="POST">
            <label>Search via User id:</label>
            <input type="number" name="userid" placeholder="Enter User ID" ><br/>
            <label>Search via Name:</label>
            <input type="text" name="name" placeholder="Enter user name" ><br/>
            <label>Search via E-mail:</label>
            <input type="email" name="email" placeholder="Enter e-mail" ><br/>
            <input type = "submit" value = "submit"/><br/>
        </form>
    </body>
</html>
